*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background-image: url(1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navegacion{
  width: 1000px;
  margin: 30px auto;
  background: #fff;
}

.navegacion ul{
  list-style: none;
}

.menu > li{
  position: relative;
  display: inline-block;
}
.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: blue;
  font-family: 'Open sans';
  text-decoration: none;

}

.menu li a:hover{
  color: red;
  transition: 0.3s;
}
.submenu{
  position: absolute;
  background: blue;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a{
  display: block;
  padding: 15px;
  color: white;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}

.formulario{
  width: 400px;
  background: #24303C;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}

.formulario h4{
  font-size: 22px;
  margin-bottom: 20px;
  color: blue;
}

.controls{
  width: 100%;
  background: #24303C;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1F53C5;
  font-family: 'calibri';
  font-size: 18px;
}
.p{
  width: 100%;
  background: #1f53c5;
  border: none;
  color: white;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;

}
